<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>

    <body>

        <h1><center>Thank you</center></h1>

        <p align="center"><a href=/ ><button class=grey style="height:75px;width:150px">Home</button></a></p>

    </body>
</html> 