<!DOCTYPE html>
<html>
    <head>
        <title>Ticket Search</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>

    <body>
        <h1><center>Train Times</center></h1>

        <form class="example" method="post" action="/search" style="margin:auto;max-width:600px">
            <input type="text" name="trains" placeholder="Search From or To destination, or all to see all the departures">

            <button type="submit"> <i class="fa fa-search"></i> </button>

        </form>

        <h3><center>Results</center></h3>

            <form method="post" action="/submit">
            <center>

                {% for item in data %}
                <button type="submit" name="user_choise" value= "{{item}}" > {{item[0]}} to {{item[1]}} Date: {{item[2]}} Time: {{item[3]}}</button>
                {% endfor %}
            </center>
            </form>

         <p align="center"><a href=/ ><button class=grey style="height:75px;width:150px">Home</button></a></p>
    </body>
</html>

